
<img src="img/viu_logo.png" width="200">

## 01MAIR - Introducción a Python
### Tema 4 - Estructuras de datos: Pandas II

![logo](img/python_logo.png)

*Benjamin Arroquia Cuadros*

*Carlos Fernández Musoles*

# En la clase anterior...
- Series y DataFrames
- Indexación y slicing
- Cargar y grabar a archivo
- Ejemplo MovieLens 1M

# Operaciones en pandas
- Búsqueda
- Ordenar
- Operaciones matemáticas entre objetos
- apply(lambda)
- Estadística descriptiva
- Ejemplo fuel efficiency

#### Búsqueda

In [5]:
import pandas as pd
import numpy as np

rand_matrix = np.random.randint(6,size=(2,3))
frame = pd.DataFrame(rand_matrix , columns=list('ABC'))
frame

   A  B  C
0  0  1  1
1  5  2  5

In [6]:
# buscando columnas
'A' in frame

True

In [7]:
# buscando valores
frame.isin([3,2]) # --> mask de respuesta (valores que son 3 o 2)

       A      B      C
0  False  False  False
1  False   True  False

In [8]:
# Contar el número de ocurrencias
frame.isin([5]).values.sum()
# frame.isin([5]) devuelve una mask con valores true si el elemento es 5
#  .values --> transforma los resultados a una array de bools
#  .sum() --> suma los valores True (1) y False (0)
# type(frame.isin([5]).values)

2

In [9]:
# Cuántos valores son > =5?
len(frame>=5)

2

#### Ordenación

In [16]:
from random import shuffle

rand_matrix = np.random.randint(20,size=(5,4))
indices = list(range(5))
shuffle(indices) #Qué hace?
frame = pd.DataFrame(rand_matrix , columns=list('ABCD'),index=indices)
frame

    A   B   C   D
0   5  14  10   3
3  11  16   3  17
2  12   8   8  19
1   1   4   7   2
4  15  13  11   6

In [17]:
# ordenar por índice
frame.sort_index(ascending=False)

    A   B   C   D
4  15  13  11   6
3  11  16   3  17
2  12   8   8  19
1   1   4   7   2
0   5  14  10   3

In [18]:
#ordenar por columna
frame.sort_index(axis=1,ascending=True)

    A   B   C   D
0   5  14  10   3
3  11  16   3  17
2  12   8   8  19
1   1   4   7   2
4  15  13  11   6

In [19]:
# ordenar por valor en columna
frame.sort_values(by='A')

    A   B   C   D
1   1   4   7   2
0   5  14  10   3
3  11  16   3  17
2  12   8   8  19
4  15  13  11   6

#### Ranking
- Construir un ranking de valores

In [20]:
frame.rank()

     A    B    C    D
0  2.0  4.0  4.0  2.0
3  3.0  5.0  1.0  4.0
2  4.0  2.0  3.0  5.0
1  1.0  1.0  2.0  1.0
4  5.0  3.0  5.0  3.0

In [22]:
# Ejercicio: imprimir, uno a uno, los valores de la columna 'C' de mayor a menor
nuevo_frame=frame.sort_values(by='C', ascending=False)
print(nuevo_frame['C'])

4    11
0    10
2     8
1     7
3     3
Name: C, dtype: int32

# Operaciones

Operaciones matemáticas entre objetos

In [23]:
matrixA = np.random.randint(100,size=(4,4))
matrixB = np.random.randint(100,size=(4,4))
frameA = pd.DataFrame(matrixA)
frameB = pd.DataFrame(matrixB)

In [24]:
# a través de métodos u operadores
frameA + frameB == frameA.add(frameB)

      0     1     2     3
0  True  True  True  True
1  True  True  True  True
2  True  True  True  True
3  True  True  True  True

In [25]:
frameB - frameA == frameB.sub(frameA)

      0     1     2     3
0  True  True  True  True
1  True  True  True  True
2  True  True  True  True
3  True  True  True  True

In [26]:
# si los frames no son iguales, valor por defecto NaN
frameC = pd.DataFrame(np.random.randint(100,size=(3,3)))
frameA - frameC

      0     1     2   3
0  94.0  47.0  48.0 NaN
1  17.0  45.0 -26.0 NaN
2   0.0 -24.0 -22.0 NaN
3   NaN   NaN   NaN NaN

In [27]:
# se puede especificar el valor por defecto con el argumento fill_value
frameA.sub(frameC,fill_value=0)

      0     1     2     3
0  94.0  47.0  48.0  97.0
1  17.0  45.0 -26.0  53.0
2   0.0 -24.0 -22.0  84.0
3  99.0  19.0  48.0   1.0

### Por qué no aparecen valores 0?

Operadores aritméticos solo válidos en elementos aceptables

In [28]:
frameD = pd.DataFrame({0: ['a','b'],1:['d','f']})
frameA - frameD

TypeError: unsupported operand type(s) for -: 'int' and 'str'

Operaciones entre Series y DataFrames

In [29]:
rand_matrix = np.random.randint(10, size=(3, 4))
print(rand_matrix)
# uso común, averiguar la diferencia entre una fila y el resto
df = pd.DataFrame(rand_matrix , columns=list('ABCD'))
df - df.iloc[0]
# Por columnas cómo se restaría

[[3 3 6 5]
 [3 4 9 6]
 [7 5 3 9]]

   A  B  C  D
0  0  0  0  0
1  0  1  3  1
2  4  2 -3  4

pandas se basa en NumPy, np operadores binarios y unarios son aceptables 
![operadores](img/clase03_operadores_ndarray.PNG)

Aplicación de funciones a medida con lambda

In [ ]:
rand_matrix = np.random.randint(10, size=(3, 4))
frame = pd.DataFrame(rand_matrix , columns=list('ABCD'))
print(frame)
frame.apply(lambda x : x.max() - x.min()) # diferencia por columna

In [ ]:
# Ejercicio: modificar el ejemplo anterior para reflejar la diferencia entre min y max por fila (no columna)

# Estadística descriptiva
- Análisis preliminar de los datos
- Para Series y DataFrame

In [ ]:
diccionario = { "nombre" : ["Marisa","Laura","Manuel", "Carlos"], "edad" : [34,29,11, 30], 
               "puntos" : [98,54,75,40], "genero": ["F", "F", "M", "M"] }
frame = pd.DataFrame(diccionario)
frame.describe() # datos generales de elementos numéricos (usar include='all' para todos)

In [ ]:
# operadores básicos
frame.sum()

In [ ]:
frame.mean()

In [ ]:
frame.cumsum()

In [ ]:
frame.count()

In [ ]:
frame.edad.std()

In [ ]:
frame['edad'].idxmax()

In [ ]:
frame['puntos'].idxmin()

pandas incluye métodos para analizar correlaciones
- Relación matemática entre dos variables (-1 negativamente relacionadas, 1 positivamente relacionadas, 0 sin relación)
- obj.corr(obj2) --> medida de correlación entre los datos de ambos objetos

## Agrgaciones

In [ ]:
frame.groupby('genero').count()

In [ ]:
frame.groupby('genero').mean()

In [ ]:
frame.groupby('genero').max()

In [ ]:
# funciones de agragación de varias columnas para obtener distintos estadísticos
frame.groupby('genero')['edad', 'puntos'].aggregate(['min', np.median, max])

In [ ]:
# Filtrado de los datos en el que el conjunto no supera una media determinada 
def media(x):
    return x["edad"].mean() > 30

frame.groupby('genero').filter(media)

# Ejemplo Fuel efficiency
- https://www.datascience.com/blog/introduction-to-correlation-learn-data-science-tutorials

In [1]:
import pandas as pd
path = 'http://archive.ics.uci.edu/ml/machine-learning-databases/auto-mpg/auto-mpg.data'

mpg_data = pd.read_csv(path, delim_whitespace=True, header=None,
            names = ['mpg', 'cilindros', 'desplazamiento','potencia',
            'peso', 'aceleracion', 'año', 'origen', 'nombre'],
            na_values='?')

In [2]:
mpg_data.sample(5)

,mpg,cilindros,desplazamiento,potencia,peso,aceleracion,año,origen,nombre
75,14.0,8,318.0,150.0,4077.0,14.0,72,1,plymouth satellite custom (sw)
268,27.2,4,119.0,97.0,2300.0,14.7,78,3,datsun 510
319,31.3,4,120.0,75.0,2542.0,17.5,80,3,mazda 626
94,13.0,8,440.0,215.0,4735.0,11.0,73,1,chrysler new yorker brougham
169,20.0,6,232.0,100.0,2914.0,16.0,75,1,amc gremlin

In [3]:
mpg_data.describe()

,mpg,cilindros,desplazamiento,potencia,peso,aceleracion,año,origen
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050,1.572864
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627,0.802055
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000,1.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

In [4]:
mpg_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
mpg               398 non-null float64
cilindros         398 non-null int64
desplazamiento    398 non-null float64
potencia          392 non-null float64
peso              398 non-null float64
aceleracion       398 non-null float64
año               398 non-null int64
origen            398 non-null int64
nombre            398 non-null object
dtypes: float64(5), int64(3), object(1)
memory usage: 28.1+ KB

### Correlaciones entre valores

In [5]:
mpg_data['mpg'].corr(mpg_data['peso'])

-0.8317409332443351

In [ ]:
mpg_data['peso'].corr(mpg_data['aceleracion'])

### Correlaciones entre todos los valores

In [6]:
mpg_data.corr()

,mpg,cilindros,desplazamiento,potencia,peso,aceleracion,año,origen
mpg,1.000000,-0.775396,-0.804203,-0.778427,-0.831741,0.420289,0.579267,0.563450
cilindros,-0.775396,1.000000,0.950721,0.842983,0.896017,-0.505419,-0.348746,-0.562543
desplazamiento,-0.804203,0.950721,1.000000,0.897257,0.932824,-0.543684,-0.370164,-0.609409
potencia,-0.778427,0.842983,0.897257,1.000000,0.864538,-0.689196,-0.416361,-0.455171
peso,-0.831741,0.896017,0.932824,0.864538,1.000000,-0.417457,-0.306564,-0.581024
aceleracion,0.420289,-0.505419,-0.543684,-0.689196,-0.417457,1.000000,0.288137,0.205873
año,0.579267,-0.348746,-0.370164,-0.416361,-0.306564,0.288137,1.000000,0.180662
origen,0.563450,-0.562543,-0.609409,-0.455171,-0.581024,0.205873,0.180662,1.000000

In [ ]:
# modelo, año y origen no son cantidades correlacionables
#eliminar columnas

In [ ]:
corr_data = mpg_data.drop(['año','origen'],axis=1).corr()

# representación gráfica
import matplotlib.pyplot as plt 
corr_data.style.background_gradient(cmap=plt.get_cmap('RdYlGn'), axis=1)

In [ ]:
# correlación más negativa
mpg_data.drop(['año','origen'],axis=1).corr().idxmin()

In [ ]:
# Ejercicio: conseguir una tabla similar con las correlaciones más positivas (evitar parejas del mismo valor)

## Actividad 2
* Utilización de las librerías vistas en clase